$main-dark: rgb(51, 51, 51);
$aside-bg: rgb(240, 240, 240);
$border-color: rgb(51, 51, 51);
$white: #ffffff;

$font-family-base: 'Raleway', sans-serif;

$base-padding: 8px;

@mixin custom-progress($height: 6px) {
  height: $height;
  background-color: $bg-sidebar;
  border: $border-width solid $dark-color;
  padding: 1px;
  
  .progress-bar {
    background-color: $dark-color;
    height: 100%;
  }
}