<aside class="h-100 d-flex flex-column justify-content-between p-3 ps-4" style="background-color: rgb(240, 240, 240);">

  <!-- 1. ABOUT ME -->
  <section class="">
    <div class="d-flex align-items-center mb-3">
      <div class="text-white p-1 me-2 d-flex align-items-center justify-content-center" style="background-color: rgb(51, 51, 51); width: 25px; height: 25px; background-color: rgb(51, 51, 51);">
        <img src="imgs/Icon_am.png" alt="Icon_am" style="object-fit: contain; width: 16px; height: 16px;">
      </div>
      <h5 class="fw-bold m-0" style="color:rgb(51, 51, 51);">ABOUT ME</h5>
    </div>

    <p class="small text-muted">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    </p>

    <p class="small text-muted mb-0">
      It has survived not only five centuries, but also the leap into electronic typesetting unchanged.
    </p>
  </section>
  <hr class="border-1 opacity-100" style="color: rgb(51, 51, 51);">

  <!-- 2. SKILLS -->
  <section class="">

    <div class="d-flex align-items-center mb-3">
      <div class="text-white p-1 me-2 d-flex align-items-center justify-content-center" style="background-color: rgb(51, 51, 51); width: 25px; height: 25px;">
        <img src="imgs/Chart_am.png" alt="Chart_am" style="object-fit: contain; width: 16px; height: 16px;">
      </div>
      <h5 class="text-uppercase fw-bold m-0">SKILLS</h5>
    </div>

    <div class="small">
    <!-- 1 -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <span class="fw-semibold" style="font-size: 0.8rem;">Adobe Photoshop</span>
      <div class="progress" style="width: 40%; height: 6px; background-color: rgb(224, 224, 224);">
        <div class="progress-bar" style="width: 70%; background-color: rgb(51, 51, 51);"></div>
      </div>
    </div>

    <!-- 2 -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <span class="fw-semibold" style="font-size: 0.8rem;">Adobe Illustrator</span>
      <div class="progress" style="width: 40%; height: 6px; background-color: rgb(224, 224, 224);">
        <div class="progress-bar" style="width: 70%; background-color: rgb(51, 51, 51);"></div>
      </div>
    </div>

    <!-- 3 -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <span class="fw-semibold" style="font-size: 0.8rem;">Microsoft Powerpoint</span>
      <div class="progress" style="width: 40%; height: 6px; background-color: rgb(224, 224, 224);">
        <div class="progress-bar" style="width: 70%; background-color: rgb(51, 51, 51);"></div>
      </div>
    </div>

    <!-- 4 -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <span class="fw-semibold" style="font-size: 0.8rem;">Microsoft World</span>
      <div class="progress" style="width: 40%; height: 6px; background-color: rgb(224, 224, 224);">
        <div class="progress-bar" style="width: 70%; background-color: rgb(51, 51, 51);"></div>
      </div>
    </div>

    <!-- 5 -->
    <div class="d-flex align-items-center justify-content-between">
      <span class="fw-semibold" style="font-size: 0.8rem;">HTML-S/CSS-3</span>
      <div class="progress" style="width: 40%; height: 6px; background-color: rgb(224, 224, 224);">
        <div class="progress-bar" style="width: 70%; background-color: rgb(51, 51, 51);"></div>
      </div>
    </div>

    </div>

  </section>

  <hr class="border-1 opacity-100" style="color: rgb(51, 51, 51);">

  <!-- 3. LANGUAGES -->
  <section class="">
    <div class="d-flex align-items-stretch mb-3">
      <div class="text-white p-1 me-2 d-flex align-items-center justify-content-center" style="background-color: rgb(51, 51, 51);  width: 25px; height: 25px;">
        <img src="imgs/Earth_am.png" alt="Earth_am" style="object-fit: contain; width: 16px; height: 16px;">
      </div>
      <h5 class="text-uppercase fw-bold m-0">LANGUAGES</h5>
    </div>

  <div class="row g-1">
    <div class="col-4">
      <span class="d-block py-1 px-0 text-center fw-semibold" style="border: 2px solid rgb(51, 51, 51); font-size: 0.7rem;">ENGLISH</span>
    </div>
    <div class="col-4">
      <span class="d-block py-1 px-0 text-center fw-semibold" style="border: 2px solid rgb(51, 51, 51); font-size: 0.7rem;">SPANISH</span>
    </div>
    <div class="col-4">
      <span class="d-block py-1 px-0 text-center fw-semibold" style="border: 2px solid rgb(51, 51, 51); font-size: 0.7rem;">FRENCH</span>
    </div>
  </div>
  
  </section>
  <hr class="border-1 opacity-100" style="color: rgb(51, 51, 51);">

  <!-- 4. HOBBIES -->
  <section>
  <div class="d-flex align-items-center mb-3">
    <div class="text-white p-1 me-2 d-flex align-items-center justify-content-center" style="background-color: rgb(51, 51, 51); width: 25px; height: 25px;">
      <img src="imgs/Flag_am.png" alt="Hobbies" style="object-fit: contain; width: 16px; height: 16px;">
    </div>
    <h5 class="text-uppercase fw-bold m-0">HOBBIES</h5>
  </div>

  <div class="small">
    <!-- 1 -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <span class="fw-semibold" style="font-size: 0.8rem;">Book Reading</span>
      <div class="progress" style="width: 40%; height: 6px; background-color: rgb(224, 224, 224);">
        <div class="progress-bar" style="width: 70%; background-color: rgb(51, 51, 51);"></div>
      </div>
    </div>

    <!-- 2 -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <span class="fw-semibold" style="font-size: 0.8rem;">Traveling</span>
      <div class="progress" style="width: 40%; height: 6px; background-color: rgb(224, 224, 224);">
        <div class="progress-bar" style="width: 70%; background-color: rgb(51, 51, 51);"></div>
      </div>
    </div>

    <!-- 3 -->
    <div class="d-flex align-items-center justify-content-between">
      <span class="fw-semibold" style="font-size: 0.8rem;">Playing Chess</span>
      <div class="progress" style="width: 40%; height: 6px; background-color: rgb(224, 224, 224);">
        <div class="progress-bar" style="width: 70%; background-color: rgb(51, 51, 51);"></div>
      </div>
    </div>
  </div>
</section>
  <hr class="border-1 opacity-100" style="color: rgb(51, 51, 51);">

</aside>