<aside class="p-4 h-100" style="background-color: rgb(240, 240, 240);">

  <!-- 1. ABOUT ME -->
  <section class="">
    <div class="d-flex align-items-center mb-3">
      <div class="bg-dark text-white p-1 me-2 d-flex align-items-center justify-content-center" style="width: 25px; height: 25px;">
        <i class="bi bi-person-fill fs-6"></i>
      </div>
      <h5 class="fw-bold m-0">ABOUT ME</h5>
    </div>

    <p class="small text-muted">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    </p>

    <p class="small text-muted">
      It has survived not only five centuries, but also the leap into electronic typesetting unchanged.
    </p>
  </section>
  <hr class="border-4 opacity-100 my-3">

  <!-- 2. SKILLS -->
  <section class="">

    <div class="d-flex align-items-center mb-3">
      <div class="bg-dark text-white p-1 me-2 d-flex align-items-center justify-content-center" style="width: 25px; height: 25px;">
        <i class="bi bi-gear-fill fs-6"></i>
      </div>
      <h5 class="text-uppercase fw-bold m-0">SKILLS</h5>
    </div>

    <div class="d-flex flex-column gap-2 small">
      <div class="d-flex align-items-center justify-content-between gap-2">
        <span>Adobe Photoshop</span>
        <div class="progress flex-shrink-0" style="width: 130px; height: 6px;">
          <div class="progress-bar bg-dark" style="width: 70%"></div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-between gap-2">
        <span>Adobe Illustrator</span>
        <div class="progress flex-shrink-0" style="width: 130px; height: 6px;">
          <div class="progress-bar bg-dark" style="width: 70%"></div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-between gap-2">
        <span>Microsoft Powerpoint</span>
          <div class="progress flex-shrink-0" style="width: 130px; height: 6px;">
            <div class="progress-bar bg-dark" style="width: 70%"></div>
          </div>
      </div>
    </div>

  </section>

  <hr class="border-4 opacity-100 my-3">

  <!-- 3. LANGUAGES -->
  <section class="">
    <div class="d-flex align-items-stretch mb-3">
      <div class="bg-dark text-white p-1 me-2 d-flex align-items-center justify-content-center" style="width: 25px; height: 25px;">
        <i class="bi bi-globe fs-6"></i>
      </div>
      <h5 class="text-uppercase fw-bold m-0">LANGUAGES</h5>
    </div>

    <div class="d-flex gap-2 ">
      <span class="border border-dark p-2 text-center small flex-fill">ENGLISH</span>
      <span class="border border-dark p-2 text-center small flex-fill">SPANISH</span>
      <span class="border border-dark p-2 text-center small flex-fill">FRENCH</span>
    </div>
  </section>
  <hr class="border-4 opacity-100 my-3">

  <!-- 4. HOBBIES -->
  <section>
    <div class="d-flex align-items-center mb-3">
      <div class="bg-dark text-white p-1 me-2 d-flex align-items-center justify-content-center" style="width: 25px; height: 25px;">
        <i class="bi bi-controller fs-6"></i>
      </div>
      <h5 class="text-uppercase fw-bold m-0">HOBBIES</h5>
    </div>

    <div class="d-flex flex-column justify-content-between align-items-stretch small">
      <div class="d-flex align-items-center justify-content-between">
        <span>Book Reading</span>
        <div class="progress flex-shrink-0" style="width: 130px; height: 6px;">
          <div class="progress-bar bg-dark" style="width: 70%"></div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <span>Playing Chess</span>
        <div class="progress flex-shrink-0" style="width: 130px; height: 6px;">
          <div class="progress-bar bg-dark" style="width: 70%"></div>
        </div>
      </div>
    </div>
  </section>
  <hr class="border-4 opacity-100 my-3">

</aside>