<aside class="resume-aside h-100 d-flex flex-column justify-content-between p-3 ps-4">

  <!-- 1. ABOUT ME -->
  <section class="aside-section">
    <div class="d-flex align-items-center mb-3">
      <div class="text-white p-1 me-2 d-flex align-items-center justify-content-center icon-box">
        <img src="imgs/Icon_am.png" alt="Icon_am" class="icon-img">
      </div>
      <h5 class="fw-bold m-0 text-dark-custom">ABOUT ME</h5>
    </div>

    <p class="small">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    </p>

    <p class="small mb-0">
      It has survived not only five centuries, but also the leap into electronic typesetting unchanged.
    </p>
  </section>
  <hr class="aside-hr">

  <!-- 2. SKILLS -->
  <section class="aside-section">

    <div class="d-flex align-items-center mb-3">
      <div class="text-white p-1 me-2 d-flex align-items-center justify-content-center icon-box">
        <img src="imgs/Chart_am.png" alt="Chart_am" class="icon-img">
      </div>
      <h5 class="text-uppercase fw-bold m-0">SKILLS</h5>
    </div>

    <div class="small">
    <!-- 1 -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <span class="fw-semibold skill-label">Adobe Photoshop</span>
        <div class="progress custom-progress">
          <div class="progress-bar w-70"></div>
      </div>
    </div>

    <!-- 2 -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <span class="fw-semibold skill-label">Adobe Illustrator</span>
        <div class="progress custom-progress">
          <div class="progress-bar w-70"></div>
      </div>
    </div>

    <!-- 3 -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <span class="fw-semibold skill-label">Microsoft Powerpoint</span>
        <div class="progress custom-progress">
          <div class="progress-bar w-70"></div>
      </div>
    </div>

    <!-- 4 -->
    <div class="d-flex align-items-center justify-content-between mb-2">
      <span class="fw-semibold skill-label">Microsoft World</span>
        <div class="progress custom-progress">
          <div class="progress-bar w-70"></div>
      </div>
    </div>

    <!-- 5 -->
    <div class="d-flex align-items-center justify-content-between">
      <span class="fw-semibold skill-label">HTML-S/CSS-3</span>
        <div class="progress custom-progress">
          <div class="progress-bar w-70"></div>
      </div>
    </div>

    </div>

  </section>

  <hr class="aside-hr">

  <!-- 3. LANGUAGES -->
  <section class="aside-section">
    <div class="d-flex align-items-stretch mb-3">
      <div class="text-white p-1 me-2 d-flex align-items-center justify-content-center icon-box">
        <img src="imgs/Earth_am.png" alt="Earth_am" class="icon-img">
      </div>
      <h5 class="text-uppercase fw-bold m-0">LANGUAGES</h5>
    </div>

  <div class="row g-1">
    <div class="col-4">
      <span class="lang-badge">ENGLISH</span>
    </div>
    <div class="col-4">
      <span class="lang-badge">SPANISH</span>
    </div>
    <div class="col-4">
      <span class="lang-badge">FRENCH</span>
    </div>
  </div>
  
  </section>
  <hr class="aside-hr">

  <!-- 4. HOBBIES -->
  <section class="aside-section">
    <div class="d-flex align-items-center mb-3">
      <div class="text-white p-1 me-2 d-flex align-items-center justify-content-center icon-box">
        <img src="imgs/Flag_am.png" alt="Hobbies" class="icon-img">
      </div>
      <h5 class="text-uppercase fw-bold m-0">HOBBIES</h5>
    </div>

    <div class="small">
      <!-- 1 -->
      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="fw-semibold skill-label">Book Reading</span>
        <div class="progress custom-progress">
          <div class="progress-bar w-70"></div>
        </div>
      </div>

      <!-- 2 -->
      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="fw-semibold skill-label">Traveling</span>
        <div class="progress custom-progress">
          <div class="progress-bar w-70"></div>
        </div>
      </div>

      <!-- 3 -->
      <div class="d-flex align-items-center justify-content-between">
        <span class="fw-semibold skill-label">Playing Chess</span>
        <div class="progress custom-progress">
          <div class="progress-bar w-70"></div>
        </div>
      </div>
    </div>
  </section>
<hr class="aside-hr">

</aside>