<header class="row align-items-center mb-4 mt-4">
    
    <!--Name-->
    <div class="col-md-5 d-flex align-items-center">
      <div class="d-flex align-items-stretch">

        <div class="me-3" style="width: 25px; flex-shrink: 0; background-color: rgb(51, 51, 51);"></div>

        <div>
          <h1 class="fw-black text-uppercase lh-1 mb-2" style="font-size: 64px; font-weight: 900; letter-spacing: -1px; color: rgb(51, 51, 51);">
            NOEL<br>TAYLOR
          </h1>
          <p class="text-uppercase text-muted fw-semibold mb-0" style="font-size: 0.85rem; letter-spacing: 1.5px; color: rgb(51, 51, 51);">
            GRAPHIC &amp; WEB DESIGNER
          </p>
        </div>

      </div>
    </div>

    <!--Photo-->
    <div class="col-md-3 d-flex align-items-center ">
      <div class="d-inline-block p-1 bg-white" style="border: 3px solid rgb(51, 51, 51);">
        <img src="img/profile.jpg" alt="Noel Taylor" class="img-fluid d-block" style="width: 150px; height: 150px; object-fit: cover; background-color: #aaa;">
      </div>
    </div>

    <!--Contacts-->
    <div class="col-md-4 d-flex align-items-center">
      <div class="text-white w-100 p-3" style="background-color: rgb(51, 51, 51);">
        
        <div class="d-flex align-items-center mb-3">
          <div class="bg-white text-dark p-1 me-2 d-flex align-items-center justify-content-center" 
              style="width: 25px; height: 25px;">

          </div>

          <h5 class="text-uppercase fw-bold m-0">CONTACT</h5>
        </div>

        <ul class="list-unstyled small mb-0" style="font-size: 0.75rem; line-height: 1.3">
          <li class="mb-1">+1-718-310-5588<br>+1-313-381-8167</li>
          <li class="mb-1">www.yourwebsite.com<br>yourinfo@email.com</li>
          <li>769 Prudence Street<br>Lincoln Park, MI 48146</li>
        </ul>

      </div>
    </div>

  </header>