<main class="h-100 d-flex flex-column justify-content-between p-3">

  <!-- 1. EDUCATION -->
  <section class="">
    <div class="d-flex align-items-center mb-3 pb-2">
      <div class="text-white p-1 me-2 d-flex align-items-center justify-content-center" style="background-color: rgb(51, 51, 51); width: 25px; height: 25px;">
        <img src="imgs/shapka_m.png" alt="shapka" style="object-fit: contain; width: 16px; height: 16px;">
      </div>
      <h5 class="text-uppercase fw-bold m-0">EDUCATION</h5>
    </div>

    <div class="row">
      <div class="col-6">
        <h6 class="fw-bold m-0">STANFORD UNIVERSITY</h6>
        <p class="small text-muted mb-1">MASTER DEGREE GRADUATE</p>
        <p class="small text-muted m-0">2011 - 2013</p>
      </div>
      <div class="col-6">
        <h6 class="fw-bold m-0">UNIVERSITY OF CHICAGO</h6>
        <p class="small text-muted mb-1">BACHELOR DEGREE GRADUATE</p>
        <p class="small text-muted m-0">2007 - 2010</p>
      </div>
    </div>
  </section>
  <hr class="border-1 opacity-100" style="color: rgb(51, 51, 51);">

  <!-- 2. REFERENCES -->
  <section class="">
    <div class="d-flex align-items-center mb-3 pb-2">
      <div class="text-white p-1 me-2 d-flex align-items-center justify-content-center" style="background-color: rgb(51, 51, 51); width: 25px; height: 25px;">
        <img src="imgs/Peoples_m.png" alt="Peoples_m" style="object-fit: contain; width: 16px; height: 16px;">
      </div>
      <h5 class="text-uppercase fw-bold m-0">REFERENCES</h5>
    </div>

    <div class="row">
      <div class="col-6 small">
        <p class="fw-bold mb-0">DARWIN B. MAGANA</p>
        <p class="text-muted mb-0">1964 Harley Brook Lane Johnstown, PA 15901</p>
        <p class="text-muted mb-0">Tel: +1 970 533 3393</p>
        <p class="text-muted mb-0">Email: www.yourwebsite.com</p>
      </div>
      <div class="col-6 small">
        <p class="fw-bold mb-0">ROBERT J. BELVIN</p>
        <p class="text-muted mb-0">1283 Little Acres Lane Champaign, IL 61820</p>
        <p class="text-muted mb-0">Tel: +1 908 987 5103</p>
        <p class="text-muted mb-0">Email: www.yourwebsite.com</p>
      </div>
    </div>
  </section>
  <hr class="border-1 opacity-100" style="color: rgb(51, 51, 51);">

  <!-- 3. JOB EXPERIENCE -->
  <section>
    <div class="d-flex align-items-center mb-3 pb-2" >
      <div class="text-white p-1 me-2 d-flex align-items-center justify-content-center" style="background-color: rgb(51, 51, 51); width: 25px; height: 25px;">
        <img src="imgs/Bag_m.png" alt="Bag_m" style="object-fit: contain; width: 16px; height: 16px;">
      </div>
      <h5 class="text-uppercase fw-bold m-0">JOB EXPERIENCE</h5>
    </div>

        <!-- 1 -->
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="fw-bold m-0">WEB DESIGNER</h6>
          <span class="small fw-bold">2020 - Present</span>
        </div>
        <p class="small text-muted">Creative Agency / Chicago</p>
        <p class="small text-muted">
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
        </p>

        <!-- 2 -->
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="fw-bold m-0">GRAPHIC DESIGNER</h6>
          <span class="small fw-bold">2015 - 2020</span>
        </div>
        <p class="small text-muted">Creative Market / Chicago</p>
        <p class="small text-muted">
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
        </p>

        <!-- 3 -->
        <div class="d-flex justify-content-between align-items-center" >
          <h6 class="fw-bold m-0">MARKETING MANAGER</h6>
          <span class="small fw-bold">2013 - 2015</span>
        </div>
        <p class="small text-muted">Manufacturing Agency / NJ</p>
        <p class="small text-muted">
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
        </p>

  </section>

    <hr class="border-1 opacity-100" style="color: rgb(51, 51, 51);">
    
</main>